@media (max-width:800px){
    .sidebar-container{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: unset;
        height: 96px;
        width: 100vw;
    }

    .joinlogo,.linksBottom{
        display: none;
    }

    .sideBarLinks{
        display: flex;
        flex-direction: unset;
    }

    .link-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}