@media screen and (max-width: 1440px){
    .greetings p:first-child{
        font-family: 'Inter 500',sans-serif;
        font-size: 40px;
        color: #2A3647;
    }
    .greetings p:nth-child(2){
        font-family: 'Inter 700',sans-serif;
        font-size: 50px;
        color: rgba(41, 171, 226, 1);
    }
}
@media screen and (max-width: 1280px){
    .greetings{
        display: none;
    }

}
@media screen and (max-width: 1020px){
    .headline h2{
        font-size: 50px;
        height: auto;
    }
    
    .headline div {
        height:40px;
        width: 3px;
        background-color: rgba(41, 171, 226, 1);
        margin-right: 16px;
    }
    .headline p{
        font-family: 'Inter 400',sans-serif;
        font-size: 27px;
        color: rgba(42, 54, 71, 1);
        width: 350px;
    }

}

@media screen and (max-width: 971px){
    .headline {
        left: 250px;
    }
    .bodySummary{
        left: 250px;
    }
    .headline p{
        font-size: 18px;
    }
    .headline h2{
        font-size: 30px;
    }
}

@media screen and (max-width: 800px ) {
    .bodySummary{
        left: 120px;
        top: 140px;
}

    .headline {
        left: 120px;
        height: 215px;
        flex-direction: column; /* Change to column layout */
        align-items: flex-start;
        gap: 0px;
        margin-top: -80px;
        margin-bottom: -10px;
    }

    .headline h2{
        font-size: 65px;
        width: 320px;
    }
    .headline div {
        height: 3px;
        width: 140px; /* Switch height and width for rotation */
        background-color: rgba(41, 171, 226, 1);
        margin-bottom: 2px;
        transform: rotate(180deg); /* Rotate by 90 degrees */
    }
    .headline p{
        margin-top: -50px;
        font-size: 30px;
        width: 320px;
    }
}
@media screen and (max-width: 688px){
    .bodySummary{
        left: 15px;
    }
    .headline{
        left: 27px;
    }
    }
@media screen and (max-width: 583px){
    .bodySummary{
        width: 460px;
        left: 30px;
    }
    .summarySelektor2{
        gap: 25px;
    }

    .todo, .done{
        width: 160px;
    }
}
@media screen and (max-width: 488px){
    .bodySummary{
        width: 360px;
        left: 20px;
    }
    .doneCount p{
        font-size: 40px;
    }
    .square-button .element{
        font-size: 40px;
    }
    .frame68 span:first-child{
        font-size: 18px !important;
        width: 157px;
    }
    span{
        font-size: 16px;
    }
    .summarySelektor1{
        gap: 25px;
    }
    .square-button{
        height: 80px;
    }
    .square-button .element{
        line-height: 40px;
    }

}
@media screen and (max-width: 432px){
    .bodySummary{
        width: 320px;
    }
    .headline p{
        width: 320px;
    }
    .summarySelektor2{
        gap: 11px;
    }
}
@media screen and (max-width: 350px){
    .bodySummary{
        width: 318px;
        left: 0px;
    }
    .frame68{
        margin-left: -15px;
    }
    .group7{
        margin-left: 10px;
    }
    .doneCount{
        margin-left: -15px;
        margin-right: -15px;
    }
    .summarySelektor1{
        gap: 15px;
    }
    .headline p{
        font-size: 28px;
    }
    .summarySelektor2{
        gap: 26px;
    }
    .headline{
        left: 9px;
    }
}