@media screen and (min-width: 2000px){
    .bodyTerms{
        padding-left: 13%;
        padding-top: 6%;
    }

}
@media screen and (max-width: 1030px){
    .bodyTerms{
        padding-left: 30%;
        padding-top: 12%;
    }

}
@media screen and (max-width: 825px){
    .bodyTerms{
        padding-left: 35%;
        padding-top: 15%;
    }

}
@media screen and (max-width: 800px){
    .bodyTerms{
        padding-left: 8%;

    }
    .headerTerms h1{
        display: flex;
        font-size: 57px;
    }

}
@media screen and (max-width: 500px){
    .bodyTerms{
        padding-top: 20%;
    }
    .headerTerms h1{
        font-size: 40px;
    }

}
@media screen and (max-width: 400px){
    .bodyTerms{
        padding-top: 29%;
    }
    .headerTerms h1{
        font-size: 34px;
    }

}