<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="icon" type="image/x-icon" href="assets/img/join.png">
    <link rel="stylesheet" href="/css/templates.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/mediaquerys/contacts-mediaquery.css">
    <link rel="stylesheet" href="/mediaquerys/joinsidebar.css">
    <script defer src="/scripts/script.js"></script>
    <script defer src="/scripts/contacts.js"></script>
    
    
</head>
<body id="body"onload="render()">
    <div w3-include-html= "/assets/templates/join_side_bar.html"></div>
    <div w3-include-html="/assets/templates/header.html"></div>
    <div class="contentContact">
    <div id="addcontactContainer" class="addcontactContainer">
      <div class="addButtonContainer">
    <button onclick="addNewContact()"class="addContactButton">
        <div class="addContactButtonContainer">
            <p class="addContactButtonText">Add New Contact</p>
            <img src="/assets/img/person_add.png" alt="">
        </div>
    </button>
    </div>
    <div id="renderContactContainer" class="renderContactContainer"></div>
    </div>
    <div id="contactContainer"class="contactContainer">
        <div class="contactHeadline">
            <h2>Contacts</h2>
            <div class="vectorPerpendicularContainerh3">
            <div class="vectorPerpendicularContainer">
            </div>
            <h3>Better with a team</h3>
            </div>
        </div>
        <div id="showContact" class="contactContainerAllInfo overlay-contactContainerContact"></div>
    </div>
    </div>
     
    </div>
    </div>
    <div id="backGroundOpacityContainer"class="backGroundOpacityContainer d-none"></div>
    <div id="addnewcontact" class="addNewContactBackPopUpContainer overlay-addNewContactPopUpContainer"> 
    <div class="addNewContactPopUpContainer ">
        <div class="addContactPopUpLeftContainer">
            <div class="xButtonResponsiveContainer">
                <p class="xButtonResponsive d-none" onclick="closeAddNewContact()">x</p>
              </div>
            <div class="addContactPopUpLeft">
            <img class="addContactJoinLogo"src="/assets/img/joinlogo.png" alt="">
           
            <p class="addContactHeadline">Add contact</p>
            <p class="addContactParagraph">Tasks are better with a team!</p>
            <img class="vectorContactPopUp" src="/assets/img/vector.png" alt=""> 
            </div>
        </div>
        <div class="addContactPopUpRightContainer">
            <div class="profileContactContainer">
            <img class="profileContact"src="/assets/img/profilecontact.png" alt="">
            </div>
              <div class="closeInputButtonsContainer">
                <div class="xContactButton">
                  <p onclick="closeAddNewContact()"class="closeAddContact">x</p>
                </div>
                <div class="inputButtonsContainer">
                <form onsubmit="createContact();return false">
                <div class="contactInput">
                
                <div class="inputIconsContainer">
                <div class="contactDetails">
                <input required minlength="3" id="name"class="input"  type="text" placeholder="Name" autocomplete="name">
                <img class="inputIcons"src="/assets/img/person.png" alt="">
                </div>
                </div>

                <div class="inputIconsContainer">
                <div class="contactDetails">
                <input required id="email"class="input"   type="email" placeholder="Email" autocomplete="email">
                <img class="inputIcons"src="/assets/img/mail.png" alt="">
                </div>
                </div>

                <div class="inputIconsContainer">
                <div class="contactDetails">
                <input required id="tel"class="input"  type="tel" placeholder="Phone" autocomplete="tel">
                <img class="inputIcons"src="/assets/img/call.png" alt="">
                </div>
                
                </div>
                
                </div>
                

                <div class="cancelCreateContactButtons">
                    <button onclick="closeAddNewContact()"class="cancelBtn">
                        <span class="cancelX">
                    <p class="cancelText">Cancel</p>
                    <p class="x">x</p>
                      </span>
                
                    </button>
                   <button class="createCheckBtn">
                    <span class="createCheck">
                    <p class="createText">Create contact</p>
                    <img src="/assets/img/check.png" alt="">
                     </span>
                   </button>
                    </div>
                    </form>
                 </div>
              </div>
        </div>
</div>
</div>
<div id="editbackGroundOpacityContainer"class="backGroundOpacityContainer d-none"></div>
<div id="editcontact" class="addNewContactBackPopUpContainer overlay-addNewContactPopUpContainer"> 
<div class="addNewContactPopUpContainer ">
    <div class="addContactPopUpLeftContainer">
        <div class="xButtonResponsiveContainer">
            <p class="xButtonResponsive d-none" onclick="closeEditContact()">x</p>
          </div>
        <div class="addContactPopUpLeft">
        <img class="addContactJoinLogo"src="/assets/img/joinlogo.png" alt="">
       
        <p class="addContactHeadline">Edit contact</p>
        <p class="addContactParagraph">Tasks are better with a team!</p>
        <img class="vectorContactPopUp" src="/assets/img/vector.png" alt=""> 
        </div>
    </div>
    <div class="addContactPopUpRightContainer">
        <div class="profileContactContainer">
        <img class="profileContact"src="/assets/img/profilecontact.png" alt="">
        </div>
          <div class="closeInputButtonsContainer">
            <div class="xContactButton">
              <p onclick="closeEditContact()"class="closeAddContact">x</p>
            </div>
            <div class="inputButtonsContainer">
            <form onsubmit="createContact();return false">
            <div class="contactInput">
            
            <div class="inputIconsContainer">
            <div class="contactDetails">
            <input required minlength="3" id="editname"class="input"  type="text" placeholder="Name" autocomplete="name">
            <img class="inputIcons"src="/assets/img/person.png" alt="">
            </div>
            </div>

            <div class="inputIconsContainer">
            <div class="contactDetails">
            <input required id="editemail"class="input"   type="email" placeholder="Email" autocomplete="email">
            <img class="inputIcons"src="/assets/img/mail.png" alt="">
            </div>
            </div>

            <div class="inputIconsContainer">
            <div class="contactDetails">
            <input required id="edittel"class="input"  type="tel" placeholder="Phone" autocomplete="tel">
            <img class="inputIcons"src="/assets/img/call.png" alt="">
            </div>
            
            </div>
            
            </div>
            

            <div onclick="deleteContakt()"class="cancelCreateContactButtons">
                <button class="cancelBtn d-inline">
                    <span class="cancelX">
                <p class="cancelText">Delete</p>
                <p class="x">x</p>
                  </span>
            
                </button>
               <button class="createCheckBtn">
                <span class="createCheck">
                <p class="createText">Save</p>
                <img src="/assets/img/check.png" alt="">
                 </span>
               </button>
                </div>
                </form>
             </div>
          </div>
    </div>
</div>
</div>
</body>

</html>