<div class="sidebar-container">
  
  <img class="joinlogo" src="/assets/img/joinlogo.png" alt="" />
  

  <div class="sideBarLinks">
    <a href="summary.html" class="links">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/summarylogo.png" alt="" />
      <p>Summary</p>
      </div>
    </a>

    <a href="add_task.html" class="links">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/addtasklogo.png" alt="" />
      <p>Add Task</p>
      </div>
    </a>

    <a href="board.html" class="links">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/boardlogo.png" alt="" />
      <p>Board</p>
      </div>
    </a>

    <a href="contacts.html" class="links">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/contactslogo.png" alt="" />
      <p>Contacts</p>
      </div>
    </a>
  </div>
  <div class="linksBottom">
    <a  class="linksBottomStyle" href="#">Privacy Policy</a>
    <a  class="linksBottomStyle" href="#">Legal Notice</a>
  </div>
 
</div>
