<div class="sidebar-container">
  <img class="joinlogo" src="./assets/img/joinlogo.png" alt="" />
  <div class="sideBarLinks">
    <div class="tasks">
      <img class="img-sideBar"src="./assets/img/summarylogo.png" alt="" />
      <p>Summary</p>
    </div>

    <div class="tasks">
      <img class="img-sideBar"src="./assets/img/addtasklogo.png" alt="" />
      <p>Add Task</p>
    </div>

    <div class="tasks">
      <div>
      <img class="img-sideBar"src="./assets/img/boardlogo.png" alt="" />
      <p>Board</p>
      </div>
    </div>

    <div class="tasks">
      <img class="img-sideBar"src="./assets/img/contactslogo.png" alt="" />
      <p>Contacts</p>
    </div>
  </div>
  <div class="linksBottom">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal Notice</a>
  </div>
</div>
