<div class="sidebar-container">
  
  <img class="joinlogo" src="/assets/img/joinlogo.png" alt="" />
  

  <div class="sideBarLinks">
    <a href="/assets/templates/summary.html" class="links" onclick="addActiveStyle()">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/summarylogo.png" alt="" />
      <p class="link-text">Summary</p>
      </div>
    </a>

    <a href="/assets/templates/add_task.html" class="links" onclick="addActiveStyle()">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/addtasklogo.png" alt="" />
      <p class="link-text">Add Task</p>
      </div>
    </a>

    <a href="/assets/templates/board.html" class="links" onclick="addActiveStyle()">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/boardlogo.png" alt="" />
      <p class="link-text">Board</p>
      </div>
    </a>

    <a href="/assets/templates/contacts.html" class="links" onclick="addActiveStyle()">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/contactslogo.png" alt="" />
      <p class="link-text">Contacts</p>
      </div>
    </a>
  </div>
  <div class="linksBottom">
    <a  class="linksBottomStyle" href="#">Privacy Policy</a>
    <a  class="linksBottomStyle" href="#">Legal Notice</a>
  </div>
 
</div>
